
.about-me{
    margin-top: 4rem;
}
.about-img{
    width: 80%;
    grid-column: port-start/ img-end;
    grid-row: 1/2;
    box-shadow: 10px 10px 13px rgb(107, 107, 107);
    margin-left: 3rem;
    

@media (min-width: 720px){
    width: 100%;
    grid-column: port-start/ img-end;
    grid-row: 1/2;}
}



.about-me{
    padding-top: 4rem;
    margin-top: 4em;
    // display: grid;
    @media (min-width: 720px){
        display: grid;
    // mixin container <----------------------/
    width: 90%;
    max-width: 90em;
    margin: 0 auto;    
    display: grid; 
    grid-template-columns: 
    [port-start]minmax(6rem,1fr) 
    [name-start]minmax(6rem,1fr) 
    [img-end]2fr
    [port-end]; 

    }
}

.about-title{
    @media (min-width: 720px){
        font-size: 5.5rem;
        grid-column: name-start/port-end;
        grid-row: 1/2;
        align-self: end;
        color: burlywood;
        font-family: $name-surname;
    }
    margin-top: -5rem;
    margin-left: 5rem;
    color: burlywood;
}
.about-subtitle{
    @media (min-width: 720px){
        color: black;
        font-size: 4rem;
        letter-spacing:.5rem;
        margin: 4rem 0;
    }
    margin: 4rem 0;
    margin-left: 3rem;
    font-size: 4rem;
}
.about-subtitle,
.about-txt{
    grid-column: port/port;
    color: grey;
}
.about-txt{
    @media (min-width: 720px){
        width: 80%;
        margin-bottom: 8rem;
        font-size: 1rem;
        font-family: $text;
    }
    // text-align: center;
    width: 90%;
    margin:1rem auto;

}