img { 
	max-width: 100%;
	}
// img.thumbnail { 
// 	width: 100px;
// 	height: 70px;
// 	}
body{
    color: gray;
    font-family: $ff-s;
    line-height: 1.6;
}
h1, h2, a{
    margin-top: 0;
    margin-bottom: 1em;
}
.welcome{
    
h1 {

    @media (min-width: 720px){
        color: black !important;
        line-height: 1;
        font-size: 7.125rem ;
        // display: inline;
        @include sans-serif($fs: 1.85rem);
        font-family: $welcomne;
        text-align: center;
    }
    @include sans-serif($fs: 1.85rem);
    color: black !important;

    
    
    span{
        @media (min-width: 720px){
            color: burlywood;
            @include sans-serif($fs: 9.5rem);
            display: block;
        }
        display: block;
        color: black;
        @include sans-serif($fs: 5.5rem);

    }
}
}
h2{
    font-size: 2rem;
    
    line-height: 1;
    font-family: $ff-ss;
}
