.wellcome{
    display: flex;
    background:lightgrey;
    display: grid;
    grid-template-columns: minmax(14rem,1fr) minmax(auto,30rem) minmax(14rem,1fr) ;
    // do the mobile version just with grid

}

.wellcome-middle{
padding: 2em;
display: flex;
flex-direction: column;
justify-content: center;
// background: rgba(235, 235, 235, 1);
background: rgba(245, 245, 245, 99);
h2{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0rem ;

    &::after{
        content: '';
        width: 30%;
        background: grey;
        height: 3px;
        display: block;
        margin: 3rem auto ;

    }
}

}
.wellcome-left img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    display: block;
}
.wellcome-right img{
    max-width: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
  background-size: cover;
  width: 340rem !important;
  float: right;
  padding: 0;
  display: block;
}
// .wellcome-left{

// }

// .wellcome-right{

// }

