.portfolio{
    text-align: center;
    background: rgba(235, 235, 235, 1);
    padding: 5em 0;

    h1{
        font-size: 3rem;
        padding: 0rem 0rem 3rem 0rem;
    }
}

.portfolio-item{
    position: relative;
    overflow: hidden;

    img{
        display: block;
    }
    figcaption{
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right:0;
        color: white;
        background: rgba(burlywood, .7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:left;
        padding: 2rem;
        transition: ease-in-out .8s;
    }
    &:hover figcaption,
    &:focus figcaption{
        top:0
    }
}

.portfolio-title{
    color: rgba(235, 235, 235, 1);
    font-size: 4rem;
    letter-spacing:.5rem;
    // margin-bottom: auto;
}
.portfolio-link{
    color: rgba(235, 235, 235, 1);
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    border-bottom: 3px solid white;
    align-self: flex-start;

   
}

 .fa{
        height: .8rem;
        width: 1rem;
        // display: inline-block;
        // margin-left: 3.5rem;
        color: white !important;  
        margin-left: .8rem;
    }

// --------------> grid <-------------------------------------------->
.portfolios-item{
    display: grid;
    column-gap: 15px;
  row-gap: 15px;
 @media (min-width: 720px){
    
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    max-width: 90em;
    margin: 0 auto;   
    column-gap: 15px;
 }
}

.portfolio-item.ft{
    
    @media (min-width: 720px){
        grid-column: span 2;
    }
}