@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps');

$ff-s: 'Merriweather', serif;
$ff-ss: 'Six Caps', sans-serif;

$fw-n: 400;
$fw-b: 900;

@mixin sans-serif($fs, $ls: .15em, $color: burlywood, $tt: uppercase, $lh: 1) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff-ss;
  font-weight: $fw-n;
}

// <---------> text fonts here <----------->
$welcomne: $ff-s;
$text: $ff-s;
$name-surname: $ff-s;
$projects-work:$ff-s;
$contact-me:$ff-s;
$name-email-message:'Source Code Pro', monospace;
$button: 'Source Code Pro', monospace;
$follow-me: 'Source Code Pro', monospace;
$small: 'Source Code Pro', monospace;